name: 'gold-fish-talents-dev'
services:
  app:
    build:
      context: .
      args:
        SITE_URL: https://goldfishtalents.com
        CDN_URL: https://cdn.goldfishtalents.com/media
    restart: on-failure:3
    env_file:
      - .env.prod
    volumes:
      - static:/app/static
      - data:/app/.data
    ports:
      - 4400:3000

  typesense:
    image: typesense/typesense:29.0
    command: --data-dir /data
    restart: on-failure:3
    env_file:
      - .env.prod
    volumes:
      - search-data:/data
    ports:
      - 8108:8108

volumes:
  static:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./static

  data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./.data

  search-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./.data
